.container-fluid{
    background-color: rgb(18, 17, 24);
    color: whitesmoke;  
 }
 /* Add a dark background color to the footer */
 footer {
   background-color: rgb(18, 17, 24);;
   color: rgba(245, 245, 245,0.5);
   height: 200px;
   padding: 70px 0;
   clear: both;
   position: relative;
   bottom:0px;
   width: 100%;
   margin-top: 0px;
 }
 
 /* Carousel Styling */
.slide1{
    background-image: url(img/lir.jpg);
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .slide2{
    background-image: url(img/lir2.jpg);
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .slide3{
    background-image: url(img/lir3.jpg);
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .login-form {
    width: 340px;
    margin: 200px auto;
    margin-bottom: 250px;
    font-size: 15px;
    background-size: auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
.signin{
    background-image: url(img/signin.png);
    background-position-x: center;
}
.list-header{
  margin-top: 100px;
  margin-left: 100px;
  font-family: sans-serif;
}
.cart-wrap{
  background-image:url(img/cart.png);
  background-position-x: center;
  
}
.row{
  background-color: white;
}
.thumbnail{
  font-family: Arial, Helvetica, sans-serif;
}
.bg-1{
  background-color: rgb(31, 29, 30);
}
.form-rounded { 
  border-radius: 1rem;
  margin-bottom: 20px;
  margin-top:20px; 
} 
.col-sm-4 {
  margin-bottom: 25px; margin-top:25px
}
/********************* Shopping Demo-2 **********************/

.demo{padding:45px 0}
.product-grid2{font-family:'Open Sans',sans-serif;position:relative}
.product-grid2 .product-image2{overflow:hidden;position:relative}
.product-grid2 .product-image2 a{display:block}
.product-grid2 .product-image2 img{width:100%;height:auto}
.product-image2 .pic-1{opacity:1;transition:all .5s}
.product-grid2:hover .product-image2 .pic-1{opacity:0}
.product-image2 .pic-2{width:100%;height:100%;opacity:0;position:absolute;top:0;left:0;transition:all .5s}
.product-grid2:hover .product-image2 .pic-2{opacity:1}
.product-grid2 .social{padding:0;margin:0;position:absolute;bottom:50px;right:25px;z-index:1}
.product-grid2 .social li{margin:0 0 10px;display:block;transform:translateX(100px);transition:all .5s}
.product-grid2:hover .social li{transform:translateX(0)}
.product-grid2:hover .social li:nth-child(2){transition-delay:.15s}
.product-grid2:hover .social li:nth-child(3){transition-delay:.25s}
.product-grid2 .social li a{color:#505050;background-color:#fff;font-size:17px;line-height:45px;text-align:center;height:45px;width:45px;border-radius:50%;display:block;transition:all .3s ease 0s}
.product-grid2 .social li a:hover{color:#fff;background-color:#3498db;box-shadow:0 0 10px rgba(0,0,0,.5)}
.product-grid2 .social li a:after,.product-grid2 .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;line-height:22px;border-radius:3px;padding:0 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid2 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-22px;z-index:-1}
.product-grid2 .social li a:hover:after,.product-grid2 .social li a:hover:before{opacity:1}
.product-grid2 .add-to-cart{color:#fff;background-color:#404040;font-size:15px;text-align:center;width:100%;padding:10px 0;display:block;position:absolute;left:0;bottom:-100%;transition:all .3s}
.product-grid2 .add-to-cart:hover{background-color:#3498db;text-decoration:none}
.product-grid2:hover .add-to-cart{bottom:0}
.product-grid2 .product-new-label{background-color:#3498db;color:#fff;font-size:17px;padding:5px 10px;position:absolute;right:0;top:0;transition:all .3s}
.product-grid2:hover .product-new-label{opacity:0}
.product-grid2 .product-content{padding:20px 10px;text-align:center}
.product-grid2 .title{font-size:17px;margin:0 0 7px}
.product-grid2 .title a{color:#303030}
.product-grid2 .title a:hover{color:#3498db}
.product-grid2 .price{color:#303030;font-size:15px}
@media screen and (max-width:990px){.product-grid2{margin-bottom:30px}
}

/* PROFILE */
.profile-body{
  background-color:silver;
}

.emp-profile{
  padding: 3%;
  margin-top: 8%;
  margin-bottom: 4%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

/* checkout */
html,body,.wrapper{
  background: #f7f7f7;
}
.steps {
  margin-top: -41px;
  display: inline-block;
  float: right;
  font-size: 16px
}
.step {
  float: left;
  background: white;
  padding: 7px 13px;
  border-radius: 1px;
  text-align: center;
  width: 100px;
  position: relative
}
.step_line {
  margin: 0;
  width: 0;
  height: 0;
  border-left: 16px solid #fff;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  z-index: 1008;
  position: absolute;
  left: 99px;
  top: 1px
}
.step_line.backline {
  border-left: 20px solid #f7f7f7;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 1006;
  position: absolute;
  left: 99px;
  top: -3px
}
.step_complete {
  background: #357ebd
}
.step_complete a.check-bc, .step_complete a.check-bc:hover,.afix-1,.afix-1:hover{
  color: #eee;
}
.step_line.step_complete {
  background: 0;
  border-left: 16px solid #357ebd
}
.step_thankyou {
  float: left;
  background: white;
  padding: 7px 13px;
  border-radius: 1px;
  text-align: center;
  width: 100px;
}
.step.check_step {
  margin-left: 5px;
}
.ch_pp {
  text-decoration: underline;
}
.ch_pp.sip {
  margin-left: 10px;
}
.check-bc,
.check-bc:hover {
  color: #222;
}
.SuccessField {
  border-color: #458845 !important;
  -webkit-box-shadow: 0 0 7px #9acc9a !important;
  -moz-box-shadow: 0 0 7px #9acc9a !important;
  box-shadow: 0 0 7px #9acc9a !important;
  background: #f9f9f9 url(../images/valid.png) no-repeat 98% center !important
}

.btn-xs{
  line-height: 28px;
}

/*login form*/
.login-container{
  margin-top:30px ;
}
.login-container input[type=submit] {
width: 100%;
display: block;
margin-bottom: 10px;
position: relative;
}

.login-container input[type=text], input[type=password] {
height: 44px;
font-size: 16px;
width: 100%;
margin-bottom: 10px;
-webkit-appearance: none;
background: #fff;
border: 1px solid #d9d9d9;
border-top: 1px solid #c0c0c0;
/* border-radius: 2px; */
padding: 0 8px;
box-sizing: border-box;
-moz-box-sizing: border-box;
}

.login-container input[type=text]:hover, input[type=password]:hover {
border: 1px solid #b9b9b9;
border-top: 1px solid #a0a0a0;
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login-container-submit {
/* border: 1px solid #3079ed; */
border: 0px;
color: #fff;
text-shadow: 0 1px rgba(0,0,0,0.1); 
background-color: #357ebd;/*#4d90fe;*/
padding: 17px 0px;
font-family: roboto;
font-size: 14px;
/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-container-submit:hover {
/* border: 1px solid #2f5bb7; */
border: 0px;
text-shadow: 0 1px rgba(0,0,0,0.3);
background-color: #357ae8;
/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-help{
font-size: 12px;
}

.asterix{
  background:#f9f9f9 url(../images/red_asterisk.png) no-repeat 98% center !important;
}

/* images*/
ol, ul {
list-style: none;
}
.hand {
cursor: pointer;
cursor: pointer;
}
.cards{
  padding-left:0;
}
.cards li {
-webkit-transition: all .2s;
-moz-transition: all .2s;
-ms-transition: all .2s;
-o-transition: all .2s;
transition: all .2s;
background-image: url('//c2.staticflickr.com/4/3713/20116660060_f1e51a5248_m.jpg');
background-position: 0 0;
float: left;
height: 32px;
margin-right: 8px;
text-indent: -9999px;
width: 51px;
}
.cards .mastercard {
background-position: -51px 0;
}
.cards li {
-webkit-transition: all .2s;
-moz-transition: all .2s;
-ms-transition: all .2s;
-o-transition: all .2s;
transition: all .2s;
background-image: url('//c2.staticflickr.com/4/3713/20116660060_f1e51a5248_m.jpg');
background-position: 0 0;
float: left;
height: 32px;
margin-right: 8px;
text-indent: -9999px;
width: 51px;
}
.cards .amex {
background-position: -102px 0;
}
.cards li {
-webkit-transition: all .2s;
-moz-transition: all .2s;
-ms-transition: all .2s;
-o-transition: all .2s;
transition: all .2s;
background-image: url('//c2.staticflickr.com/4/3713/20116660060_f1e51a5248_m.jpg');
background-position: 0 0;
float: left;
height: 32px;
margin-right: 8px;
text-indent: -9999px;
width: 51px;
}
.cards li:last-child {
margin-right: 0;
}
/* images end */



/*
* BOOTSTRAP
*/
.container{
  border: none;
}
.panel-footer{
  background:#fff;
}
.btn{
  border-radius: 1px;
}
.btn-sm, .btn-group-sm > .btn{
  border-radius: 1px;
}
.input-sm, .form-horizontal .form-group-sm .form-control{
  border-radius: 1px;
}

.panel-info {
  border-color: #999;
}

.panel-heading {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
.panel {
  border-radius: 1px;
}
.panel-info > .panel-heading {
  color: #eee;
  border-color: #999;
}
.panel-info > .panel-heading {
  background-image: linear-gradient(to bottom, #555 0px, #888 100%);
}

hr {
  border-color: #999 -moz-use-text-color -moz-use-text-color;
}

.panel-footer {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top: 1px solid #999;
}

.btn-link {
  color: #888;
}

hr{
  margin-bottom: 10px;
  margin-top: 10px;
}

/** MEDIA QUERIES **/
@media only screen and (max-width: 989px){
  .span1{
      margin-bottom: 15px;
      clear:both;
  }
}

@media only screen and (max-width: 764px){
  .inverse-1{
      float:right;
  }
}

@media only screen and (max-width: 586px){
  .cart-titles{
      display:none;
  }
  .panel {
      margin-bottom: 1px;
  }
}

.form-control {
  border-radius: 1px;
}

@media only screen and (max-width: 486px){
  .col-xss-12{
      width:100%;
  }
  .cart-img-show{
      display: none;
  }
  .btn-submit-fix{
      width:100%;
  }
  
}
.checkout-body{
  background-image: url(img/profile.png);
}